.weather-dashboard {
    width: 400px;
    height: 300px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin: 0 27%;
  }
  
  .location {
    padding: 10px;
    background-color: #F8F8F8;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  
  .location h2 {
    margin: 0;
  }
  
  .weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 255px;
    background-color: rgb(192, 248, 229);
    
  }
  
  .temperature {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .conditions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .conditions img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .conditions span {
    font-size: 20px;
    font-weight: bold;
  }

  .temperature_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .temperature_2 .humi {
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
  }
  .temperature_2 .feel {
    font-size: 15px;
    font-weight: bold;
  }