.maps{
    margin:0 auto;
}

.descs{
    margin:0 auto;
}
.search{
    margin:40px auto;
    align-items: center;
}
.containerMain{
    display: flex;
    flex-direction: row;
}

.container_trip{
    width: 1200px;
    margin-top:20px;
    display: flex;
    flex-direction: column;
}

.ulstyle{
   width:600px;
   position: relative;
   box-sizing: border-box;
   background-color: #F2C6C2;
}

.ulstyle .listyle{
    display: flex;
    background-color: #f1a9a3;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 15px;
    /*transition: .7s;   //표출되는 효과 (사용여부 결정중)*/
}

.ulstyle .listyle .spanstyle1{
    width:250px;
}
.ulstyle .listyle .spanstyle2{
    width: 350px;
    text-align: center;
}

.ulstyle .listyle:hover{
    transform: scale(1.05);
}