
.atag{
    text-decoration: none;
    background-color: #F2C6C2;
    color:#0a0a23;
}

.maps{
    margin:0 auto;
}

.descs{
    margin:0 auto;
}
.search{
    margin:40px auto;
    align-items: center;
}
.containerMain{
    display: flex;
    flex-direction: row;
}

.container_trip{
    width: 1200px;
    margin-top:20px;
    display: flex;
    flex-direction: column;
}

.ulstyle{
   width:600px;
   position: relative;
   box-sizing: border-box;
   background-color: #F2C6C2;
}

.ulstyle .listyle{
    display: flex;
    background-color: #f1a9a3;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 15px;
    /*transition: .7s;   //표출되는 효과 (사용여부 결정중)*/
}
.list_category{
    text-align: center;
}
.list_category a{
    text-decoration: none;
    background-color: #f1a9a3;
    color:slategrey;
    width: 240px;
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #8a7371ab;
    font-size: 16px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;

}

.ulstyle .listyle .spanstyle1{
    width:400px;
}
.ulstyle .listyle .spanstyle2{
    width: 350px;
    text-align: center;
}

.ulstyle .listyle:hover{
    transform: scale(1.05);
}

.inputstyle{
    width: 300px;
    height:40px;
    border-top: none;
    border-left: none;
    border-right:none;
    border-bottom: 3px solid black;
}

.button{
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:10px;
    min-width: 80px;
}
.button:hover {
    background-color:#5c5e64;
    transition: 0.3s;
}