*{
    font-family: 'Nanum Gothic Coding', monospace;
    padding: 0px;
    margin: 0px;
}

body{
    margin: 0 auto;
    background-color:#F2E8DF;
}

/* 2차 디자인 영역 css*/
.head{
    background: #F2E8DF;
    color: #F28585;
    padding: 10px 70px;
    font-size: 30px;
    border-top: 10px solid #F2C6C2;
    font-family: sans-serif;
    border-bottom: 10px solid #F2C6C2;
}
/*============================================*/

.mainframe{
    background-color: burlywood;
    padding: 5px 0;
    width:100%;
    height: 50px;
}
.logo{
    margin: 0 auto;
    text-align: center;
}

.container1{
    display: flex;
    justify-content: center;
    min-height: 800px;
    width: 1600px;
    margin: 0 auto;
}
.sidebar{
    background-color: #F2C6C2;
    width: 300px;
    max-width: 300px;
    margin-top:20px;
    margin-right: 20px;
    border-radius: 10px;
    max-height: 800px;

}
.container2_2{
    width: 1200px;
    margin-top:20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    
}

h3{
    text-align: center;
}
.side_list ul{
    padding-left: 0px;
    list-style: none;
    font-weight: 700;
}
.side_list ul .list{
    text-align: center;
}

/*display: block이 옆 container2_2의 크기 변동에 따라 계속 움직이게 되므로 width:240px를 설정하여 일부 고정을 시켜놓았음*/
.side_list ul .list a{
    text-decoration: none;
    color:black;
    width: 240px;
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #8a7371ab;
    font-size: 16px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.side_list ul .list a:hover,
.side_list ul .list a.active{
    color: #0c7db1;
    background:white;
    border-right: 2px solid rgb(5, 68, 104);
    border-left: 2px solid rgb(5, 68, 104);
}
